@font-face {
  font-family: HankenGrotesk;
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: HankenGrotesk;
  font-size: 18px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  padding: 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: hsl(241, 100%, 89%);
}

.result {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.score {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.total {
  font-size: 0.75rem;
  color: hsl(241, 100%, 89%);
}

.result + p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 12px;
}

.result + p {
  font-size: 1.5rem;
  font-weight: 500;
}

.result + p + p {
  font-size: 0.9rem;
  text-align: center;
  color: hsl(241, 100%, 89%);
}

.summary-details {
  padding: 24px;
}

.summary-details p {
  font-weight: 700;
}

.detail {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  margin: 12px 0;
  align-items: center;
  border-radius: 14px;
}

.detail p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail p img {
  margin: 0 12px;
}

.detail div {
  color: hsl(241, 100%, 89%);
}

.detail div span {
  color: black;
  font-weight: bold;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction p {
  color: hsla(0, 100%, 67%, 0.8);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.memory p {
  color: hsla(39, 100%, 56%, 0.8);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal p {
  color: hsla(166, 100%, 37%, 0.8);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  margin-bottom: 24px;
}

.visual p {
  color: hsla(234, 85%, 45%, 0.8);
}

button {
  width: 100%;
  padding: 12px 24px;
  border-radius: 32px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: hsla(256, 72%, 46%, 1);
}

@media only screen and (min-width: 376px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 650px;
    border-radius: 24px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .scoreboard {
    border-radius: 24px;
    width: 45%;
  }
  .summary-details {
    width: 55%;
  }
}
